<%- include('../partials/head');%>

<body>
    <%- include('../partials/nav');%>
    <div class="flex">
        <div>
            <p>Total Confirmed:<%=data.TotalConfirmed%></p>
        </div>
        <div>
            <p>Total Deaths:<%=data.TotalDeaths%></p>
        </div>
        <div>
            <p>Total Recovered: <%=data.TotalRecovered%></p>
        </div>

        <form action="/getCountryResult" method="post">
            <input type="text" name="country" value="">
            <input type="date" name="datefrom" value="">
            <input type="date" name="dateto" value="">
            <button>Search</button>

        </form>
    </div>
</body>

</html>