<%- include('../partials/head');%>

<body>
    <%- include('../partials/nav');%>
    <%data.forEach(item=>{%>
    <div class="flex">
        <p><%=item.country%></p>
        <p><%=item.countrycode%></p>
        <p><%=item.totalconfirmed%></p>
        <p><%=item.totaldeaths%></p>
        <p><%=item.totalrecovered%></p>
        <p><%=item.date%></p>
        <form action="/country/<%=item.id%>">
            <button>Details</button>
        </form>


    </div>

    <%})%>
</body>

</html>